body {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	width: 960px;
	margin: auto;
}

/* INPUT ELEMENTS */
input {
	border: 1px solid rgb(150, 150, 150);
	border-radius: 2px;
	padding: 6px;
	background-color: rgb(240, 240, 240);
	margin: 2px 0px 0 0;
	width: 70px;
}

input:disabled {
	background-color: #e7b0b0;
	color: rgb(0, 0, 0);
}

input[type="button"]:hover {
	background-color: rgb(210, 210, 210);
}

input[type="text"]{
	text-align: right;
}

select {
	margin: 2px 0px 8px 0;
	height: 28px;
}

.home {
	float: right;
}

/* HIDDING */
.hidden {
	visibility: hidden;
}

/* TABLE */
table {
	text-align: right;
	margin: auto auto auto 19%;
	table-layout: fixed;
	width: 56%;
}

td.input {
	text-align: left;
}

col.input {
	width: 120px;
}

/* GRAPH */
#graph:not(:empty) {
	border: solid black 2px;
}

.jxgbox:empty {
	background-color: transparent;
	display: none;
	border: none;
}

/* FUNCTION */
div#function {
	text-align: center;
	height: 132px;
	line-height: 132px;
}

span#func {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

/* MOMENTS */
.mathjaxMoments {
	font-size: 90%;
	font-family: sans-serif;
	margin: auto;
	text-align: center;
	color: rgb(120, 120, 120);
	padding: 15px;
}